body {
  background-color: lightgreen;
}
h1 {
  color: blue;
  font-family: "Comic Sans MS", serif;
}

.modifiedText {
	border-style: groove;
	border-width: 15px;
	border-color: purple;
	color: darkred;
	font-family: "Product Sans", monospace;
	padding: 5px;
}